<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285049044019-ogi4una7gkgh4qbapag1o488bphulhep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285049044019-ogi4una7gkgh4qbapag1o488bphulhep</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>285049044019-2pufghms7pv3682duirssfqt63iarsr0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA55miJFVJYMxnbedTQLfvXooB2oZQTEXw</string>
	<key>GCM_SENDER_ID</key>
	<string>285049044019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.findcribs.findcribs</string>
	<key>PROJECT_ID</key>
	<string>findcribs-917f9</string>
	<key>STORAGE_BUCKET</key>
	<string>findcribs-917f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285049044019:ios:5c9b2b3745b6b9d7e7f746</string>
</dict>
</plist>